:root {
    --cor-fundo-um: lightgrey;
    --cor-fundo-dois: whitesmoke;
    --cor-fundo-tres: rgb(65, 95, 119);
    --cor-fundo-quatro: rgb(114, 130, 143);
    --cor-fundo-cinco: black;

    --cor-texto-um: black;
    --cor-texto-dois: white;
    --cor-texto-tres: blue;

    --cor-botao-um: rgb(77, 202, 66);
    --cor-botao-dois: blue;
    --cor-botao-tres: rgb(62, 161, 52);
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cor-fundo-dois);
    color: var(--cor-texto-um);
    width:100%;
    line-height:1.5;
}

/* TOPO */
header{
    width:100%;
    padding:20px 40px 10px;
    background: var(--cor-fundo-dois);
}

.topo{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid var(--cor-fundo-quatro);
    padding-top:15px;
}

.logo{
    width:50px;
    width: 50px;
}

/* MENU */
nav a{
    text-decoration:none;
    color: var(--cor-texto-um);
    padding:8px 15px;
    border-radius:4px;
    margin-left:8px;
    transition:0.3s;
    font-size:15px;
}

nav a:hover{
    background: var(--cor-botao-dois);
    color: var(--cor-texto-dois);
}

.active{
    background: var(--cor-botao-dois);
    color: var(--cor-texto-dois);
}

/* BANNER */
.banner{
     width: 100%; 
    height: 300px;
    margin: 20px auto;
    background-color: var(--cor-fundo-tres);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: var(--cor-texto-dois);
    font-size:52px;
    font-weight:bold;
}

/* TEXTO */
.texto{
    text-align:center;
    padding:45px 20px 30px;
    background: var(--cor-fundo-dois);
}

.texto h2{
    font-size:24px;
    margin-bottom:10px;
}

.texto p{
    font-size:18px;
    color: var(--cor-fundo-quatro);
}

/* PRODUTOS */
.produtos{
    width:100%;
    display:flex;
    justify-content:center;
    gap:35px;
    padding:20px 40px 60px;
    flex-wrap:wrap;
    background: var(--cor-fundo-dois);
}

.card{
    width:360px;
    background: var(--cor-texto-dois);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    text-align:center;
    padding-bottom:20px;
}

.card img{
    width:100%;
    height: 300px;
    object-fit:cover;
}

.card h3{
    font-size:28px;
    margin:15px 0 10px;
}

.card p{
    font-size:18px;
    color: var(--cor-fundo-quatro);
    padding:0 18px;
    min-height:65px;
}

.card button{
    background: var(--cor-botao-um);
    color: var(--cor-texto-dois);
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

.card button:hover{
    background: var(--cor-botao-tres);
}

/* REDES */
.redes{
    width:100%;
    background: var(--cor-fundo-um);
    text-align:center;
    padding:50px 20px;
}

.redes h3{
    font-size:20px;
    margin-bottom:10px;
}

.redes p{
    font-size:18px;
    color: var(--cor-fundo-quatro);
    margin-top:30px;
}

.redes img{
    width:40px;
    height:40px;
    margin:0 15px;
    cursor:pointer;
}

/* RODAPÉ */
footer{
    width:100%;
    background: var(--cor-fundo-cinco);
    color: var(--cor-texto-dois);
    text-align:center;
    padding:18px;
    font-size:15px;
}